@use 'utilities/colors';

.input {
  position: relative;

  input {
    width: calc(100% - 68px);
    padding: 14px 16px;
    padding-left: 48px;
    border-radius: 16px;
    border: 2px solid colors.$form-empty-border;
    border-radius: 16px;
    color: colors.$form-filled-text;
    font-size: 14px;
    line-height: 20px;

    &::placeholder {
      color: colors.$form-empty-placeholder;
    }

    &[type="date"], &[type="time"] {
      appearance: none;
      -webkit-appearance: none;

      &::-webkit-datetime-edit {
        color: colors.$form-empty-placeholder;
      }

      &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator {
        display: none;
        appearance: none;
        -webkit-appearance: none;
      }
    }

    & + i {
      color: colors.$form-empty-placeholder;

      & + i {
        color: colors.$form-empty-placeholder;
      }
    }

    &.secondary {
      background-color: colors.$form-secondary-bg;
    }

    &:focus {
      outline: none;
      border-color: colors.$form-filled-border;

      & + i {
        color: colors.$form-filled-text;

        & + i {
          color: colors.$form-filled-text;
        }
      }
    }

    &.filled {
      border-color: colors.$form-filled-border;

      & + i {
        color: colors.$form-filled-text;

        & + i {
          color: colors.$form-filled-text;
        }
      }
    }

    &.valid {
      border-color: colors.$form-success-border;
      color: colors.$form-success-text;

      &[type="date"], &[type="time"] {
        &::-webkit-datetime-edit {
          color: colors.$form-success-text;
        }
      }

      & + i {
        color: colors.$form-success-text;

        & + i {
          color: colors.$form-success-text;
        }
      }
    }

    &.invalid {
      border-color: colors.$form-error-border;
      color: colors.$form-error-text;

      &[type="date"], &[type="time"] {
        &::-webkit-datetime-edit {
          color: colors.$form-error-text;
        }
      }

      & + i {
        color: colors.$form-error-text;

        & + i {
          color: colors.$form-error-text;
        }
      }
    }
  }

  i {
    &.icon-left {
      position: absolute;
      top: 18px;
      left: 16px;
    }

    &.icon-right, &.icon-password {
      position: absolute;
      top: 18px;
      right: 16px;
      cursor: pointer;
    }
  }

  .toast {
    background-color: colors.$form-normal-toast-bg;
    color: colors.$form-normal-toast-text;
    border-radius: 0 0 16px 16px;
    padding: 16px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

    input {
      width: 100%;
      background-color: colors.$form-normal-toast-bg;
      color: colors.$black;
      font-size: 12px;
      line-height: 16px;
      padding: 0 !important;
      border-radius: 0;

      &::placeholder {
        color: colors.$form-normal-toast-text;
      }

      &:focus {
        outline: none;
        border-color: transparent;
      }

      &.filled {
        border-color: transparent;
      }
    }

    &.success {
      background-color: colors.$form-success-toast-bg;
      color: colors.$form-success-toast-text;
    }

    &:has(> input.filled) {
      i {
        color: colors.$black;
      }
    }
  }

  &:not(:has(> .icon-left)) {
    input {
      padding-left: 16px;
      padding-right: 48px;
    }
  }

  &:has(> .toast) {
    background-color: colors.$form-normal-toast-bg;
    border-radius: 16px;
  }

  &:has(> .toast.success) {
    background-color: colors.$form-success-toast-bg;
    border-radius: 16px;
  }
}
