@use 'utilities/colors';

.pill {
  padding: 8px 16px;
  border-radius: 100px;
  background-color: #B9EAFF;
  color: colors.$green;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: fit-content;
}
