@use 'utilities/colors';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html, body, #root {
  height: 100%;
}

.body-parent, .body {
  min-height: 100%;
}


body {
  font-family: 'Rubik', sans-serif;

  &.ReactModal__Body--open {
    height: 100vh;
    overflow-y: hidden;
  }
}

.body-parent {
  background-color: #f6f9ff;
  display: flex;
  justify-content: center;

  .body {
    position: relative;
    background-color: colors.$white;
    width: 480px;
    padding: 0 16px;

    &:has(.content):has(.footer) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
    }

    &:has(.primary-background) {
      background-color: colors.$green;
    }

    &:has(.building-background) {
      background: url('../assets/graphics/building.svg') no-repeat bottom center, colors.$white;
    }

    .canvas {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .content {
      &:has(.canvas) {
        height: 100%;
      }
    }

    .footer {
      width: 100%;
      position: relative;
      left: -16px;
      background-color: colors.$white;
      padding: 16px;
      padding-top: 0;
      padding: 16px;
      border-radius: 16px 16px 0px 0px;
      z-index: 1;

      &.primary {
        background-color: colors.$green;
      }

      &-text {
        margin-bottom: 16px;
        text-align: center;
      }

      &.white {
        box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
      }
    }
  }
}

/* Dark Mode */
.darkmode--activated {
  .body {
    background-color: transparent;

    &:has(.primary-background) {
      background-color: transparent;
    }

    &:has(.building-background) {
      background: url('../assets/graphics/building.svg') no-repeat bottom center;
    }
  }

  .logo, .component-heading, .component-subheading, .component-title, .component-back {
    filter: brightness(0) invert(1);
  }

  .component-input {
    input {
      background-color: colors.$black;
      border-color: colors.$light-black;
      color: colors.$white;
    }

    .input-info {
      background-color: colors.$light-black; 
      border-color: colors.$light-black;
      color: colors.$white;
      
      input {
        background-color: colors.$light-black;
        
        &::placeholder {
          color: colors.$gray;
        }
      }

      i {
        color: colors.$gray;
      }

      &:has(input.filled) {
        i, input {
          color: colors.$white;
        }
      }
    }

    &:has(> .input-info) {
      background-color: colors.$light-black;

      input {
        &.empty {
          border-color: colors.$light-black;
        }
      }
    }

    &.secondary {
      input {
        background-color: colors.$black;

        &.empty {
          color: colors.$white;
          border-color: colors.$light-black;
        }
      }
    }
  }

  .component-button {
    &.primary {
      background-color: colors.$white;
      border-color: colors.$white;
      color: colors.$black;

      &:disabled {
        background-color: colors.$light-black;
        border-color: colors.$light-black;
        color: colors.$black;
      }
    }

    &.secondary {
      background-color: colors.$black;
      border-color: colors.$black;
      color: colors.$white;
    }

    &.tertiary {
      background-color: colors.$black;
      border-color: colors.$white;
      color: colors.$white;
    }
  }

  .component-toast {
    &.primary {
      > div {
        &:nth-child(1) {
          background: linear-gradient(10deg, colors.$dark-black 0%, colors.$light-black 100%);
          color: colors.$white;
        }
        &:nth-child(2) {
          > div {
            &:nth-child(2) {
              color: colors.$light-black;
            }
          }
        }
      }
    }
  }

  .success-container {
    background-color: colors.$dark-black;

    > div {
      background-color: colors.$light-black;
    }
  }

  .success-share-link {
    background-color: colors.$white !important;
    color: colors.$black !important;
  }

  .footer {
    background-color: colors.$black !important;

    .social-media-container {
      i {
        color: colors.$black;
      }
    }

    &.white {
      background-color: colors.$dark-black !important;

      .component-button {
        &.secondary {
          background-color: colors.$dark-black;
          border-color: colors.$dark-black;
          color: colors.$white;
        }
      }
    }
  }

  .event {
    &-username {
      color: colors.$white !important;
    }

    &-description {
      color: colors.$white !important;
      border-color: colors.$white !important;
    }

    &-toast {
      color: colors.$black !important;
    }

    &-map-description {
      background-color: colors.$dark-black !important;
      color: colors.$white !important;
    }

    &-map-recommendation-container {
      background-color: colors.$dark-black !important;

      p {
        color: colors.$white !important;
      }
    }
  }
}


/* Splide */
.map-recommendations {
  .splide__slide {
    &:focus-visible, &:focus {
      outline: none !important;
    }

    img {
      &:focus-visible {
        outline: none !important;
      }
    }

    &.is-active {
      border: 0 !important;
    }
  }
  .splide__track--nav {
    >.splide__list {
      >.splide__slide {
        border: 0 !important;
      }
    }
  }
}
.component-carousel {
  .splide__slide {
    &:focus-visible, &:focus {
      outline: none !important;
    }

    img {
      &:focus-visible {
        outline: none !important;
      }
    }

    &.is-active {
      border: 3px solid transparent !important;
    }

    &:not(.is-active) {
      filter: grayscale(100%);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 120px;
        height: 120px;
      }
    }
  }

  .splide__track {
    min-height: 166px;
  }

  .splide__arrows {
    position: relative;
    margin-top: 24px;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    .splide__arrow {
      position: relative;
      left: 0;
      right: 0;
      transform: none;
      background-color: colors.$green;
      color: colors.$white;
      opacity: 1;

      &:focus {
        outline: none !important;
      }
    }

    .splide__info {
      background-color: colors.$red;
      color: colors.$white;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 8px 12px;
      border-radius: 100px;
    }
  }
}
