@use 'utilities/colors';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html, body, #root, .body-parent {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

.body-parent {
  background-color: #f6f9ff;
  display: flex;
  justify-content: center;

  .body {
    position: relative;
    background-color: colors.$white;
    width: 480px;
    padding: 0 16px;

    &:has(> .primary-background) {
      background-color: colors.$green;
    }

    &:has(> .building-background) {
      background: url('../assets/graphics/building.svg') no-repeat bottom center, colors.$white;
    }

    .canvas {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

/* Dark Mode */
.darkmode--activated {
  .body {
    background-color: transparent;

    &:has(> .primary-background) {
      background-color: transparent;
    }

    &:has(> .building-background) {
      background: url('../assets/graphics/building.svg') no-repeat bottom center;
    }
  }

  .logo, .component-heading, .component-subheading, .component-title, .component-back {
    filter: brightness(0) invert(1);
  }

  .component-input {
    input {
      background-color: colors.$black;
      border-color: colors.$light-black;
      color: colors.$white;
    }

    .input-info {
      background-color: colors.$light-black; 
      border-color: colors.$light-black;
      color: colors.$white;
      
      input {
        background-color: colors.$light-black;
        
        &::placeholder {
          color: colors.$gray;
        }
      }

      i {
        color: colors.$gray;
      }

      &:has(input.filled) {
        i, input {
          color: colors.$white;
        }
      }
    }

    &:has(> .input-info) {
      background-color: colors.$light-black;

      input {
        &.empty {
          border-color: colors.$light-black;
        }
      }
    }

    &.secondary {
      input {
        background-color: colors.$black;

        &.empty {
          color: colors.$white;
          border-color: colors.$light-black;
        }
      }
    }
  }

  .component-button {
    &.primary {
      &:disabled {
        background-color: colors.$light-black;
        border-color: colors.$light-black;
      }
    }

    &.secondary {
      background-color: colors.$black;
      border-color: colors.$black;
      color: colors.$white;
    }

    &.tertiary {
      background-color: colors.$black;
      border-color: colors.$white;
      color: colors.$white;
    }
  }

  .success-container {
    background-color: colors.$dark-black;

    > div {
      background-color: colors.$light-black;
    }
  }

  .footer {
    background-color: colors.$black;

    .social-media-container {
      i {
        color: colors.$black;
      }
    }

    &.white {
      background-color: colors.$dark-black;

      .component-button {
        &.secondary {
          background-color: colors.$dark-black;
          border-color: colors.$dark-black;
          color: colors.$white;
        }
      }
    }
  }
}


/* Splide */
.splide__slide {
  &:focus-visible, &:focus {
    outline: none !important;
  }

  img {
    &:focus-visible {
      outline: none !important;
    }
  }

  &.is-active {
    border: 3px solid transparent !important;
  }

  &:not(.is-active) {
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
      height: 120px;
    }
  }
}

.splide__track {
  min-height: 166px;
}

.splide__arrows {
  position: relative;
  margin-top: 24px;
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  .splide__arrow {
    position: relative;
    left: 0;
    right: 0;
    transform: none;
    background-color: colors.$green;
    color: colors.$white;
    opacity: 1;

    &:focus {
      outline: none !important;
    }
  }

  .splide__info {
    background-color: colors.$red;
    color: colors.$white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 12px;
    border-radius: 100px;
  }
}
