.heading {
  margin-top: 80px;
  margin-bottom: 8px;
}

.subheading {
  margin-bottom: 16px;

  &.center {
    text-align: center;
  }
}

.input {
  &-email {
    margin-bottom: 16px;
  }

  &-password {
    margin-top: 16px;
  }

  &-username {
    margin-top: 48px;
  }
}

.button {
  &-continue, &-create-account {
    margin-bottom: 16px;
  }

  &-create-password {
    margin-top: 16px;
  }
}

.carousel {
  margin-top: 48px;
}

.footer {
  width: calc(100% - 32px);
  padding: 16px;
  padding-top: 0;
  position: absolute;
  left: 0;
  bottom: 0px;

  &-text {
    margin-bottom: 16px;
    text-align: center;
  }
}
