@use 'utilities/colors';

.heading {
  margin-top: 80px;
  margin-bottom: 8px;
}

.subheading {
  margin-bottom: 16px;

  &.center {
    text-align: center;
  }
}

.input {
  &-email {
    margin-bottom: 16px;
  }

  &-password {
    margin-top: 16px;
  }

  &-username {
    margin-top: 48px;
  }
}

.button {
  &-continue, &-create-account, &-create-invitation {
    margin-bottom: 16px;
  }

  &-create-password {
    margin-top: 16px;
  }
}

.carousel {
  @media only screen and (max-width: 480px) {
    width: calc(100vw - 32px);
  }

  margin-top: 48px;
}

.title {
  text-align: center;
}

.success {
  &-body {
    width: 100%;
    height: calc(100% - 162px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    background-color: colors.$white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
}

.avatar {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    background-color: #EFF1F2;
    margin: 24px 0;
  }
}

.footer {
  width: calc(100% - 32px);
  background-color: colors.$white;
  padding: 16px;
  padding-top: 0;
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 16px;
  border-radius: 16px 16px 0px 0px;
  z-index: 1;

  &-text {
    margin-bottom: 16px;
    text-align: center;
  }

  &.white {
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  }
}
