@use 'utilities/colors';

.h3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  &.primary {
    color: colors.$black;
  }

  &.secondary {
    color: colors.$white;
  }

  &.tertiary {
    color: colors.$gray;
  }
}
