@use 'utilities/colors';

.coffee {
  margin-top: 77px;
  margin-bottom: 4px;
}

.title {
  margin-bottom: 4px;
}

.subheading {
  margin-bottom: 24px;
}

.input-title {
  margin-bottom: 16px;
}

.input-date-time {
  display: flex;
  gap: 16px;

  > div {
    width: 100%;
  }
}
